.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    border-left: 2px dashed #ccc;
  
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    position: relative;
    margin-bottom: 20px;
}

.timeline-item > *:last-child {
    margin-left: 30px;
}

.timeline-item-inativo {
    opacity: 0.8;
}

.timeline-marco {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    left: -40px;
}

.timeline-marco:hover {
    transform: scale(1.2);
}

.timeline-marco i {
    font-size: 20px;
    color: #333;
}

.timeline-info {
    font-size: 14px;
    color: #555;
    white-space: pre-line;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 0.9em;
}

